# Fruits and Vegetables Image Recognition

The idea was to build an application which recognizes the food item(s) from the captured photo


Fruits- banana, apple, pear, grapes, orange, kiwi, watermelon, pomegranate, pineapple, mango.

Vegetables- cucumber, carrot, capsicum, onion, potato, lemon, tomato, raddish, beetroot, cabbage, lettuce, spinach, soy bean, cauliflower, bell pepper, chilli pepper, turnip, corn, sweetcorn, sweet potato, paprika, jalepeño, ginger, garlic, peas, eggplant.

[You can find the dataset here](https://www.kaggle.com/datasets/kritikseth/fruit-and-vegetable-image-recognition)

<img src='images.jpeg' width="500" >

In [1]:
import cv2
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
#pip install opencv-python

In [3]:
labels =['apple','banana','beetroot','bell pepper','cabbage','capsicum','carrot',
         'cauliflower','chilli pepper','corn','cucumber','eggplant','garlic','ginger','grapes',
         'jalepeno','kiwi','lemon','lettuce','mango','onion','orange','paprika','pear','peas',
         'pineapple','pomegranate','potato','raddish','soy beans','spinach','sweetcorn','sweetpotato',
         'tomato','turnip','watermelon']
img_path='Fruits_and_Vegetables/'

In [4]:
img_list=[]
label_list=[]
for label in labels:
    for img_file in os.listdir(img_path+label):
        img_list.append(img_path+label+'/'+img_file)
        label_list.append(label)

In [5]:
df=pd.DataFrame({'img':img_list,'label':label_list})

In [6]:
df.head()

                                        img  label
0   Fruits_and_Vegetables/apple/Image_1.jpg  apple
1  Fruits_and_Vegetables/apple/Image_10.jpg  apple
2  Fruits_and_Vegetables/apple/Image_16.jpg  apple
3  Fruits_and_Vegetables/apple/Image_17.jpg  apple
4  Fruits_and_Vegetables/apple/Image_18.jpg  apple

In [7]:
import matplotlib.pyplot as plt
d={'apple':0,'banana':1,'beetroot':2,'bell pepper':3,'cabbage':4,'capsicum':5,'carrot':6,
  'cauliflower':7,'chilli pepper':8,'corn':9,'cucumber':10,'eggplant':11,'garlic':12,'ginger':13,
   'grapes':14,'jalepeno':15,'kiwi':16,'lemon':17,'lettuce':18,'mango':19,'onion':20,'orange':21,
  'paprika':22,'pear':23,'peas':24,'pineapple':25,'pomegranate':26,'potato':27,'raddish':28,
   'soy beans':29,'spinach':30,'sweetcorn':31,'sweetpotato':32,'tomato':33,'turnip':34,'watermelon':35}

In [8]:
df['encode_label']=df['label'].map(d)

In [9]:
df.tail()

                                                img       label  encode_label
3113  Fruits_and_Vegetables/watermelon/Image_95.jpg  watermelon            35
3114  Fruits_and_Vegetables/watermelon/Image_96.jpg  watermelon            35
3115  Fruits_and_Vegetables/watermelon/Image_97.jpg  watermelon            35
3116  Fruits_and_Vegetables/watermelon/Image_98.jpg  watermelon            35
3117  Fruits_and_Vegetables/watermelon/Image_99.jpg  watermelon            35

In [10]:
import numpy as np

In [11]:
x=[]
for img in df['img']:
    img=cv2.imread(img)
    img=cv2.resize(img,(170,170))  #boyutunu 170*170 pixel yaptık
    img=img/255.0  #Normalize ettik
    x.append(img)
x=np.array(x)

In [12]:
y=df['encode_label']

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [14]:
from keras.models import Sequential
from keras.layers import  Dense, Conv2D, Input, Reshape, MaxPooling2D, Flatten, Dropout, BatchNormalization

In [19]:
model=Sequential()
model.add(Input(shape=(170,170,3)))
model.add(Conv2D(32,kernel_size=(3,3),activation='relu'))
model.add(Conv2D(64,kernel_size=(3,3),activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))
model.add(Conv2D(128,kernel_size=(3,3),activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128))
model.add(Dense(64))
model.add(Dense(36, activation='softmax')) 
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [20]:
history=model.fit(x_train,y_train,validation_data=(x_test,y_test),epochs=10,verbose=1)

Epoch 1/10
78/78 ━━━━━━━━━━━━━━━━━━━━ 201s 2s/step - accuracy: 0.0247 - loss: 9.3961 - val_accuracy: 0.0946 - val_loss: 3.4352
Epoch 2/10
78/78 ━━━━━━━━━━━━━━━━━━━━ 182s 2s/step - accuracy: 0.1033 - loss: 3.2748 - val_accuracy: 0.1346 - val_loss: 3.2303
Epoch 3/10
78/78 ━━━━━━━━━━━━━━━━━━━━ 163s 2s/step - accuracy: 0.1808 - loss: 2.9972 - val_accuracy: 0.1571 - val_loss: 3.1243
Epoch 4/10
78/78 ━━━━━━━━━━━━━━━━━━━━ 162s 2s/step - accuracy: 0.2303 - loss: 2.7759 - val_accuracy: 0.2051 - val_loss: 2.9950
Epoch 5/10
78/78 ━━━━━━━━━━━━━━━━━━━━ 157s 2s/step - accuracy: 0.3424 - loss: 2.4011 - val_accuracy: 0.2147 - val_loss: 3.0055
Epoch 6/10
78/78 ━━━━━━━━━━━━━━━━━━━━ 153s 2s/step - accuracy: 0.5128 - loss: 1.7727 - val_accuracy: 0.2516 - val_loss: 3.3101
Epoch 7/10
78/78 ━━━━━━━━━━━━━━━━━━━━ 134s 2s/step - accuracy: 0.7521 - loss: 0.8970 - val_accuracy: 0.2580 - val_loss: 3.9807
Epoch 8/10
78/78 ━━━━━━━━━━━━━━━━━━━━ 131s 2s/step - accuracy: 0.8867 - loss: 0.4533 - val_accuracy: 0.2500 - val_loss: 4.6970
Epoch 9/10
78/78 ━━━━━━━━━━━━━━━━━━━━ 128s 2s/step - accuracy: 0.9482 - loss: 0.2535 - val_accuracy: 0.2372 - val_loss: 5.7266
Epoch 10/10
78/78 ━━━━━━━━━━━━━━━━━━━━ 129s 2s/step - accuracy: 0.9652 - loss: 0.1546 - val_accuracy: 0.2612 - val_loss: 5.8320

In [21]:
model.save('my_fv_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

According to the classification results, it's now easier to understand which fruits and vegetables belong to which categories.