# Large Scale Fish

This dataset contains 9 different seafood types collected from a supermarket in Izmir, Turkey

The dataset includes gilt head bream, red sea bream, sea bass, red mullet, horse mackerel,
black sea sprat, striped red mullet, trout, shrimp image samples.

[You can find the dataset here](https://www.kaggle.com/datasets/crowww/a-large-scale-fish-dataset)

<img src='dataset-cover.jpg'>

In [1]:
import cv2
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
labels =['Black Sea Sprat','Gilt-Head Bream','Hourse Mackerel','Red Mullet','Red Sea Bream','Sea Bass','Shrimp','Striped Red Mullet','Trout']
img_path='Fish_Dataset/'

In [3]:
img_list=[]
label_list=[]
for label in labels:
    for img_file in os.listdir(img_path+label):
        img_list.append(img_path+label+'/'+img_file)
        label_list.append(label)

In [4]:
df=pd.DataFrame({'img':img_list,'label':label_list})

In [5]:
df.head()

                                      img            label
0  Fish_Dataset/Black Sea Sprat/00001.png  Black Sea Sprat
1  Fish_Dataset/Black Sea Sprat/00002.png  Black Sea Sprat
2  Fish_Dataset/Black Sea Sprat/00003.png  Black Sea Sprat
3  Fish_Dataset/Black Sea Sprat/00004.png  Black Sea Sprat
4  Fish_Dataset/Black Sea Sprat/00005.png  Black Sea Sprat

In [6]:
import matplotlib.pyplot as plt
d={'Black Sea Sprat':0,'Gilt-Head Bream':1,'Hourse Mackerel':2,'Red Mullet':3,'Red Sea Bream':4,'Sea Bass':5,'Shrimp':6,'Striped Red Mullet':7,'Trout':8}

In [7]:
df['encode_label']=df['label'].map(d)

In [8]:
df.tail()

                               img  label  encode_label
8995  Fish_Dataset/Trout/00996.png  Trout             8
8996  Fish_Dataset/Trout/00997.png  Trout             8
8997  Fish_Dataset/Trout/00998.png  Trout             8
8998  Fish_Dataset/Trout/00999.png  Trout             8
8999  Fish_Dataset/Trout/01000.png  Trout             8

In [9]:
import numpy as np

In [10]:
x=[]
for img in df['img']:
    img=cv2.imread(img)
    img=cv2.resize(img,(170,170))  #boyutunu 170*170 pixel yaptık
    img=img/255.0  #Normalize ettik
    x.append(img)
x=np.array(x)

In [11]:
y=df['encode_label']

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [13]:
from keras.models import Sequential
from keras.layers import  Dense, Conv2D, Input, Reshape, MaxPooling2D, Flatten, Dropout, BatchNormalization

In [14]:
model=Sequential()
model.add(Input(shape=(170,170,3)))
model.add(Conv2D(32,kernel_size=(3,3),activation='relu'))
model.add(Conv2D(64,kernel_size=(3,3),activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))
model.add(Conv2D(128,kernel_size=(3,3),activation='relu'))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128))
model.add(Dense(64))
model.add(Dropout(0.2))
model.add(Dense(32))
model.add(Dense(9, activation='softmax')) 
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [15]:
history=model.fit(x_train,y_train,validation_data=(x_test,y_test),epochs=5,verbose=1)

Epoch 1/5
225/225 ━━━━━━━━━━━━━━━━━━━━ 429s 2s/step - accuracy: 0.3937 - loss: 4.6241 - val_accuracy: 0.8789 - val_loss: 0.3561
Epoch 2/5
225/225 ━━━━━━━━━━━━━━━━━━━━ 430s 2s/step - accuracy: 0.9140 - loss: 0.2637 - val_accuracy: 0.9456 - val_loss: 0.1682
Epoch 3/5
225/225 ━━━━━━━━━━━━━━━━━━━━ 423s 2s/step - accuracy: 0.9671 - loss: 0.1048 - val_accuracy: 0.9522 - val_loss: 0.1278
Epoch 4/5
225/225 ━━━━━━━━━━━━━━━━━━━━ 390s 2s/step - accuracy: 0.9769 - loss: 0.0621 - val_accuracy: 0.9700 - val_loss: 0.0913
Epoch 5/5
225/225 ━━━━━━━━━━━━━━━━━━━━ 366s 2s/step - accuracy: 0.9821 - loss: 0.0565 - val_accuracy: 0.9650 - val_loss: 0.1231

In [16]:
model.save('my_fish_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

 With the results, it is seen that the models used in the study in the classification of fish varieties can be applied successfully in this field.